-f https://download.pytorch.org/whl/torch_stable.html                                                                                                                                                             
torch==2.2.0+cpu
-f https://download.pytorch.org/whl/torch_stable.html
torchvision==0.15.0+cpu
numpy
pandas
matplotlib
Flask
Flask-Cors
